<%- include('../includes/header.ejs', {titulo: 'Lista de turmas' }) %>

    <main>
        <h2>Lista de turmas</h2>
        <a href="/turmas/novo" class="btn btn-principal">Adicionar Turmas</a>
        <table class="dados-table">
            <thead>
                <tr>
                    <th>Nome </th>
                    <th>Ações </th>
                </tr>
            </thead>
            <tbody>
                <% for( let turmas of dadosTurmas) { %>               
                <tr>
                    <td><%= turmas.nome_turma %></td>
                    <td>
                        <a href="/turmas/editar/<%= turmas.id_turma %>" class="btn btn-editar">Editar</a>
                        <form action="/turmas/excluir/<%= turmas.id_turma %>" method="POST" class="acoes">
                            <button type="submit" class="btn btn-delete">Excluir</button>
                        </form>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </main>

<%- include('../includes/footer.ejs') %>