<%- include('../includes/header.ejs', {titulo: 'Painel Administrativo' }) %>

    <main>
        <h2>Lista de professores</h2>
        <a href="/professores/novo" class="btn btn-principal">Adicionar Professores</a>
        <!-- Criando form de pesquisa e ordenação -->
        <form action="/professores/listar" method="get" class="form form-consulta">
            <input type="text" name="busca" placeholder="Buscar por nome ou formação">
            <select name="ordem">
                <option value="nome_professor">Ordenar por Professor</option>
                <option value="formacao">Ordenar Formação</option>
            </select>
            <button type="submit" class="btn btn-principal">Buscar</button>
        </form>

        <table class="dados-table">
            <thead>
                <tr>
                    <th>Nome </th>
                    <th>Telefone</th>
                    <th>Formações</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% for( let professor of dadosProfessores) { %>    
                    <% if(professor.ativo == true)  { %>      
                <tr>
                    <td><%= professor.nome_professor %></td>
                    <td><%= professor.telefone %></td>
                    <td><%= professor.formacao %></td>
                    <td>
                        <a href="/professores/editar/<%= professor.id_professor %>" class="btn btn-editar">Editar</a>
                        <form action="/professores/excluir/<%= professor.id_professor %>" method="POST" class="acoes">
                            <button type="submit" class="btn btn-delete">Excluir</button>
                        </form>
                    </td>
                </tr>
                    <% } %>
                <% } %>
            </tbody>
        </table>
    </main>

<%- include('../includes/footer.ejs') %>